.boardgame {
    display: flex;
    width: 630px; 
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10;
    background-image: url(https://images.unsplash.com/photo-1608924066819-930edc42986a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dHJlYXN1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
    background-position: center;
}
.square {
    border: 2px solid white;
    height: 200px;
    width: 200px;
    font-size: 11rem;
    text-align: center;
    color: aliceblue;
}

h1 {
    text-align: center;
    background-color: rgb(29, 219, 51);
}
#top{
    animation:bounce 3s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bounce{
    0%{
        transform: scaleX(1.0)
    }
    50%{
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1.0);
    }
}
